# Token do Bot do Discord
DISCORD_TOKEN=seu_token_aqui

# ID da Aplicação do Discord (Application ID)
DISCORD_APPLICATION_ID=seu_application_id_aqui

# Email para MyMemory API (opcional)
MYMEMORY_EMAIL=seu_email_aqui
